body {
  font-family: Arial, sans-serif;
  background-color: #121212; /* Dark background */
  color: white;
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  margin-top: 20px;
  color: #FFD700; /* Yellow heading text */
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
  margin: 5px 0;
}

table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  table-layout: fixed;
}

thead th {
  background-color: #282828; /* Dark gray header */
  padding: 10px;
  font-size: 18px;
  border: 1px solid white;
}

tbody td {
  padding: 10px;
  text-align: center;
  border: 1px solid rgb(251, 255, 0);
  word-wrap: break-word;
}

tbody tr:nth-child(even) {
  background-color: #151515; /* Dark blue */
}

tbody tr:nth-child(odd) {
  background-color: #181818; /* Lighter blue */
}

.coordinators {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #FFD700; /* Yellow text */
}

p {
  margin: 5px 0;
}

.nav-btns {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.nav-btns button {
  background-color: #151515; /* Background color */
  color: white; /* Text color */
  border: 1px solid #333;
  border-radius: 50%;
  padding: 20px; /* Adjust padding as needed */
  font-size: 18px; /* Adjust font size as needed */
  cursor: pointer;
  outline: none; /* Remove outline */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.nav-btns button:hover {
  background-color: #151515; /* Darker background color on hover */
}

.nav-btns button:first-child {
  margin-right: 10px; /* Margin between buttons */
}